<!DOCTYPE html>
<html lang="en">
<head>
    <title>Endebts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/static/css/general.css" rel="stylesheet">
    <script src="/static/js/general.js"></script>
</head>
<body>
    
<!--
    up Container
-->
    <div class="container" id="main">
    <div id="sub_main">
    
    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        <h2>Add transaction</h2>
    </div>
    
    <form method="post" action="add">
    <div class="row">
            <div class="col-xs-4">
                    <div class="row">
                    <label for="giver">Giver :</label>
                    <select class="form-control actor" name="giver" id="giver" autofocus>
                    {% for item in actors %}
                        <option class="actor" value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                    </select>
                    
                    <br />
                    
                    <div class="form-group">
                        <label class="sr-only" for="amount">Amount in {{ money }}:</label>
                        <div class="input-group">
                            <div class="input-group-addon">{{ money }}</div>
                            <input class="form-control" type="text" name="amount" id="amount" placeholder="Amount" maxlength="20" required/>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-xs-8">
            
                <label>Receivers :</label><br />
                {% for item in actors %}
                    <label class="col-sm-3 btn btn-default receivers" for="{{ item }}">
                        <input type="checkbox" name="{{ item }}" id="{{ item }}" /> <span class="actor">{{ item }}</span>
                    </label>
                {% endfor %}
            
            </div>
        </div>
    <div class="row">
        <p>
        <label class="sr-only" for="description">Description :</label><br />
        <input class="form-control" type="text" name="description" id="description" placeholder="Description" maxlength="1000" required/>
        </p>
        <input class="btn btn-primary" type="submit" value="Send transaction" />
    </div>
    </form>

    
    <div class="row">
    <h2>Summary</h2>
    <p class="summary">
    {% for item in summary %}
            <strong>{{ item[1] }}</strong> owes <strong>{{ item[2] }} {{ money }}</strong> to <strong>{{ item[0] }}</strong>.<br />
    {% endfor %}
    </p>
    {% if precise_version %}
        <a class="btn btn-default btn-xs" href=".">Show only significant transactions</a>        
    {% else %}
        <a class="btn btn-default btn-xs" href="./full_precision">Show unsignificant transactions</a>
    {% endif %}
            
    </div>
    
    <div class="row">
    <h2>Add person</h2>
    <form method="post" action="add_user">
        <p>
            <label class="sr-only" for="new_user">New user :</label>
            <input class="form-control" type="text" name="new_user" id="new_user" placeholder="New user" maxlength="20" required/>
        </p>

    <input class="btn btn-primary" type="submit" value="Send name" />
    
    </form>
    </div>
    
<!--
    Close main (UP) container and sub container
-->
    </div>
    </div>
    
    
    <div class="container" id="log_container">
    
    <h2>Log <a class="btn btn-default btn-sm" href="/static/data/{{ name }}.csv">Download</a></h2>
    <form method="post" action="rm_transaction" onsubmit="return confirm('Do you really want to remove the selected transactions ?');">
    <div class="table-responsive">
    <table class="table table-condensed table-striped" id="history">
        <tr>
            <th>Date & Time</th>
            <th>Giver</th>
            <th>Amount</th>
            <th>Receivers</th>
            <th>Description</th>
            <th class="last_col"><input type="checkbox" onClick="toggle(this, 'rm_line')" /></th>
        </tr>
    {% for item in history %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td class="last_col"><input class="rm_line" type="checkbox" name="rm_line{{ item[0] }}" id="rm_line{{ item[0] }}" /></td>
        </tr>
    {% endfor %}
        <tr>
            <th>Date & Time</th>
            <th>Giver</th>
            <th>Amount</th>
            <th>Receivers</th>
            <th>Description</th>
            <th class="last_col">
                <button type="submit" class="btn btn-default"><img src="/static/img/edit-clear.png" alt="Remove selected"/></button>
            </th>
        </tr>
    </table>
    </div>
    
    </form>
<!--
    Close down container
-->
    </div>
    
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
